name: CI - Construcción con Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4

      - name: Configurar JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Dar permisos de ejecución a mvnw
        run: chmod +x mvnw

      - name: Compilar y ejecutar tests con Maven Wrapper
        run: ./mvnw -B clean test
